{% extends "base.html" %}
    {% block title %}Bem Vindo ao Site em Django {% endblock %}
    {% block head %}Bem Vindo ao  Site em Django {% endblock %}
    {% block content %}
        <div >
          <p>Este compatível com as normas, simples, modelo de site de largura fixa é lançado como um projeto "open source"
          	 (sob a Creative Commons Attribution 3,0 Licence), o que significa que você é livre para fazer o download e usá-lo para qualquer coisa
          	  que você quiser (inclusive modificar e altera-lo ).</p>

          <h3>Coloque aqui o seu destino</h3>
          <div style="width:170px; float:left; padding: 0px 20px 20px 0px;">
          	<img alt="image" src="/media/images/image.jpg" />
          </div>
          <p>Este modelo de site utiliza a ferramenta jquery fancybox para melhorar o site,
          	 clique na imagem para a direita para ver.</p>
          <p>Eu nunca tinha visto antes ou mais, mais mais Hewlett Packard, é mais mais mais e mais. Emprego em silêncio,
          	 pelo casamento que a nossa rotatividade e dirigir a classe, himenaeos muito iniciantes:</p>
		 <p>Há mais vida, ou é uma informação mais importante. 
		 	Por favor, leia mais aqui. O colapso antes do mais eu não sei, e precisa de mais. 
		 	Queremos antes, mais vezes, ou mais, a vida é um comentário. Mais Discutidos, mandíbulas só para agradar,
		 	 e você não libertá-lo não deve pellentesque ligula que este é um comentário. 
		 	Nossos alunos, a bebida da vida em que, para os meus maxilares.</p>
		<p>Há mais vida, ou é uma informação mais importante. Por favor, leia mais aqui. 
			O colapso antes do mais eu não sei, e precisa de mais. Queremos antes, mais vezes, ou mais, a vida é um comentário.
			Mais Discutidos, mandíbulas só para agradar, e você não libertá-lo não deve pellentesque ligula que este é um comentário.
			Nossos alunos, a bebida da vida em que, para os meus maxilares.</p>
		</div>	

{% endblock %}

